:root {
    --selvaOsc:#344e41;
    --selva: #3D5628;
    --vOsc: #5D7746;
    --vMed: #7F9967;
    --vClaro: #C6E2AC;
    --Fondo: #F2FD22;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }


body{
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    
}

a{
    text-decoration: none;
    cursor:  pointer;


}



header{
    width: 100%;
    height:9%;
    background-color: black; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: fixed;
    z-index: 10;

    
}

nav{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    

}

.navTittle{
    margin: 0;
    padding-left:0;
    font-size: 30px;
    color: white;
}

.navTittle a{
    color: white;
}


.navLeft{
    color: white;
    text-align: left;
}

.navLeft p{
    margin:0
}

.navRight{
    display: flex;
}



header nav ul{
    display: flex;
    text-decoration: none;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    /* padding: 10px; */
}
nav ul li{
    padding-left: 50px;
    font-size: 18px;
}

nav ul li a{
    color: white;
    transition: all 0.3s;
    
}


nav ul li a:hover{
    
    transition: all 0.5s;
    background-color: var(--Fondo);
    padding: 1px;
    font-size: 20px;
    /* border: 2px solid var(--selva); */
    border-radius: 6px;
    color: black;
}

.imagenInicial img{
    width: 100%;
    transition: all 3s;
    height: 100vh;
    object-fit: cover;
}

.pic1.abajo{
    opacity: 0.1;
    transition: all 2s;
}

.tittleInit{
    position: absolute;
    width: 75%;
    top: 60%;
    right: 5%;
    text-align: right;
    color: var(--selvaOsc);
    background-color: var(--Fondo);
    padding: 15px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: -4px 15px 68px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 15px 68px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 15px 68px 0px rgba(0,0,0,0.75);
}

.tittleInit h1{
    font-size: 80px;
    margin: 0;
}

.tittleInit h2{
    font-size: 60px;
    margin: 0;
}


@media (1024px <= width <= 1024px){
    .tittleInit h1{
        font-size: 45px;
    }

    .tittleInit h2{
        font-size: 40px;
    }

}