:root {
    --selvaOsc:#344e41;
    --selva: #3D5628;
    --vOsc: #5D7746;
    --vMed: #7F9967;
    --vClaro: #C6E2AC;
    --Fondo: #F2FD22;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }


body{
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    
}

a{
    text-decoration: none;
    cursor:  pointer;


}



header{
    width: 100%;
    height:9%;
    background-color: black; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: fixed;
    z-index: 10;

    
}

nav{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    

}

.navTittle{
    margin: 0;
    padding-left:0;
    font-size: 30px;
    color: white;
}

.navTittle a{
    color: white;
}


.navLeft{
    color: white;
    text-align: left;
}

.navLeft p{
    margin:0
}

.navRight{
    display: flex;
}



header nav ul{
    display: flex;
    text-decoration: none;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    /* padding: 10px; */
}
nav ul li{
    padding-left: 50px;
    font-size: 18px;
}

nav ul li a{
    color: white;
    transition: all 0.3s;
    
}


nav ul li a:hover{
    
    transition: all 0.5s;
    background-color: var(--Fondo);
    padding: 1px;
    font-size: 20px;
    /* border: 2px solid var(--selva); */
    border-radius: 6px;
    color: black;
}

.imagenInicial img{
    width: 100%;
    transition: all 3s;
    height: 100vh;
    object-fit: cover;
}

.pic1.abajo{
    opacity: 0.1;
    transition: all 2s;
}

.tittleInit{
    position: absolute;
    width: 75%;
    top: 60%;
    right: 5%;
    text-align: right;
    color: var(--selvaOsc);
    background-color: var(--Fondo);
    padding: 15px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: -4px 15px 68px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 15px 68px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 15px 68px 0px rgba(0,0,0,0.75);
}





.tittleInit h1{
    font-size: 80px;
    margin: 0;
}

.tittleInit h2{
    font-size: 60px;
    margin: 0;
}

.mainContext{
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 35px;
    line-height: 39px;
    background-color:#dddddd;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1366px) {
    .tittleInit h1{
        font-size: 40px;
        display: inline-block;
    }
    .tittleInit h2{
        font-size: 35px;
        display: inline-block;
    }

    .tittleInit {
        width: 55%;
    }

    .mainContext{
        font-size: 25px;
    }
    
}

.botn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

/* button{
    width: 400px;
    height: 100px;
    font-size: 35px;
    border-radius: 15px;
    background-color: var(--Fondo);
    
}  */

/* .button-90 {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: var(--Fondo);
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  width: 300px;
  height: 100px;
  font-size: 35px;
  border: 0;
  margin-bottom: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
} */


/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(64, 56%, 61%) 0%,
    hsl(64, 32%, 34%) 8%,
    hsl(64, 45%, 35%) 92%,
    hsl(59, 42%, 52%) 100%
  );
}

.button-82-front {
  display: block;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 12px 27px;
  text-align: center;
  border-radius: 12px;
  font-size: 30px;
  color: white;
  background: var(--Fondo);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.button-82-front a{
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.text{
    text-align: center;
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 20px;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}



a{
    color: black;
    font-family: 'Bebas Neue', sans-serif;

}
